body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: calc(16.34/12);
}


*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p {
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

.d-flex {
    display: flex;
}
.ml-3 {
    margin-left: 1rem;
}

.ml-2 {
    margin-left: .5rem;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}
.d-flex {
    display: flex;
  }
  .align-items-center {
    align-items: center;
  }